/* Dark Grey: #393939 */
/* Deep Orange: #FF5A09 */
/* Light Orange: #ff9900 */
/* Orange Yellow: #f3843e */
/* Light Grey: #6e6e6e */
/* Very Light Grey: #edf1f4 */
/* Grapefruit Orange: #fd4d55 */
/* Light Grapefruit Orange: #ff814f */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #f2f2f2;
  --clr-medium: #a8a8a8;
  --clr-dark: #393939;
  --clr-deeporange: #ff5a09;
  --clr-lightorange: #ff9900;
  --clr-orangeyellow: #f3843e;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --bs-light: 0.25em 0.25em 0.75em rgba(255, 255, 255, 0.75), 0.125em 0.125em 0.25em rgba(255, 255, 255, 0.85);
}

@media (min-width: 49rem) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section,
footer {
  padding: 2.5rem 1rem;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-deeporange);
  outline-offset: 3px;
}

@media (min-width: 37.5rem) {
  section {
    padding: 5rem 2rem;
    height: 100vh;
  }

  footer {
    padding: 5rem 2rem;
  }
}

/* Buttons */

button {
  border: none;
}

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-deeporange);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.arrow--down {
  display: none;
}

.arrow--up {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1rem;
  text-align: center;
  width: 2rem;
  height: 2rem;
  padding: 0.2em 0.57em;
  border-radius: 50%;
}

.arrow--up.scrolled {
  display: block;
}

@media (min-width: 37.5rem) {
  .arrow--up {
    bottom: 1.5rem;
    right: 1.5rem;
    font-size: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .arrow--down {
    display: block;
    position: absolute;
    bottom: 2rem;
    left: calc(50% - 1.75rem);
    font-size: 1.75rem;
    text-align: center;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.25em 0.57em;
    border-radius: 50%;
    background: transparent;
    color: var(--clr-deeporange);
  }

  .arrow--down:hover {
    transform: scale(1.2);
  }

  .project-btn {
    display: block;
    position: absolute;
    bottom: 2.5rem;
    left: calc(50% - 4.625rem);
  }
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro,
.section__title--item {
  font-weight: var(--fw-reg);
}

.section__title--intro strong,
.section__title--item strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about,
.section__subtitle--projects {
  color: var(--clr-deeporange);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  margin-bottom: 1em;
}

@media (min-width: 37.5rem) {
  .section__subtitle--intro,
  .section__subtitle--about {
    color: var(--clr-dark);
    text-shadow: 0.03em 0.03em 0.05em rgba(255, 255, 255, 0.75);
    background: var(--clr-deeporange);
    padding: 0.25em 0.75em;
    padding-left: 18rem;
  }

  .section__subtitle--projects {
    margin-bottom: 2em;
  }
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  z-index: 999;
}

header.scrolled .logo,
header.scrolled .nav-toggle {
  display: none;
}

.nav-open header.scrolled .nav-toggle {
  display: block;
}

.logo {
  max-width: 100px;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-deeporange);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5em;
  top: 0.9em;
  z-index: 1000;
}

.nav-open header {
  display: block;
}

.nav-open header img {
  width: 100px;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  display: block;
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-deeporange);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* Intro section */

.intro__container {
  padding-top: 4rem;
  background-color: var(--clr-dark);
  background-image: url(../img/aiden-profile-03-1067x800.jpg);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--clr-light);
}

.intro {
  position: relative;
  margin: 0 auto;
}

.intro__img {
  box-shadow: var(--bs);
  width: 50%;
  max-width: 250px;
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 37.5rem) {
  .intro__container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .intro {
    display: grid;
    width: min-content;
    column-gap: 1em;
    grid-template-areas:
      'img title'
      'img subtitle';
    grid-template-columns:
      min-content
      max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* About Section */

.about {
  max-width: 60rem;
  margin: 0 auto;
}

.about__body {
  padding-left: 1em;
}

.about__img {
  display: none;
  box-shadow: var(--bs);
}

.exp {
  display: flex;
  align-items: center;
}

.exp + .exp {
  margin-top: 1em;
}

.exp__logo {
  width: 6rem;
  max-height: 3rem;
  margin-right: 1em;
}

.exp__description p {
  margin: 0;
  font-size: 0.75rem;
}

@media (min-width: 37.5rem) {
  .about__container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .about {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      'title img'
      'subtitle img'
      'text img'
      'exp exp';
    column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    align-self: start;
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about__body {
    margin: 0;
    margin-bottom: 1em;
  }

  .about__img {
    display: block;
    grid-area: img;
    position: relative;
    z-index: 2;
    margin-bottom: 1em;
  }

  .about__exp {
    grid-area: exp;
  }
}

/* Tech Stack Section */

.techstack__container {
  position: relative;
  height: min-content;
  background-color: var(--clr-medium);
  background-image: url(../img/techstack-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.techstack {
  margin: 0 auto;
}

.section__title--techstack {
  color: var(--clr-light);
  position: relative;
}

.section__title--techstack::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.skills {
  margin-bottom: 2em;
}

.skill {
  max-width: 31rem;
  margin: 0 auto;
  margin-bottom: 1.75em;
}

.skill__logo {
  font-size: 2.5rem;
  width: 5rem;
  height: 5rem;
  padding: 0.2em;
  margin: 0 auto 0.5em;
  color: var(--clr-deeporange);
  border: 2px solid var(--clr-light);
  border-radius: 50%;
  transition: all 300ms ease-out;
}

.skill__logo:hover {
  transform: rotate(-45deg);
  color: var(--clr-orangeyellow);
}

@media (min-width: 49rem) {
  .techstack__container {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .skills {
    display: flex;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
  }

  .skill {
    width: 100%;
    margin-bottom: 0;
  }

  .skill + .skill {
    margin-left: 2em;
  }

  .skill__logo {
    font-size: 3.5rem;
    width: 7rem;
    height: 7rem;
  }
}

/* Projects Section */

.projects__container {
  height: min-content;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item__container {
  border: 1px solid var(--clr-deeporange);
}

.portfolio__item {
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--clr-medium);
  background-blend-mode: multiply;
  background-size: cover;
  color: var(--clr-light);
  overflow: hidden;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item--item01 {
  background-image: url(../img/e-commerce-home-capture.jpg);
}

.portfolio__item--item02 {
  background-image: url(../img/chat-capture.png);
}

.portfolio__item--item03 {
  background-image: url(../img/facerecognition-main-capture.png);
}

.portfolio__item--item04 {
  background-image: url(../img/customer-management-capture.jpg);
}

.portfolio__item--item05 {
  background-image: url(../img/movie-capture.jpg);
}

.portfolio__item--item06 {
  background-image: url(../img/weather-clear-capture.png);
}

.portfolio__item .portfolio__description {
  margin-top: 2rem;
}

.portfolio__links {
  display: flex;
  min-width: 75%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.portfolio__links a {
  text-decoration: none;
  height: 100%;
}

.portfolio__link {
  color: var(--clr-light);
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  transition: all 300ms ease-out;
}

.portfolio__link:hover {
  background-color: var(--clr-deeporange);
  transform: scale(1.05);
}

.portfolio__item .btn {
  margin: 0 auto;
  width: 100%;
  max-width: 20rem;
}

.portfolio__item .btn:hover {
  background: var(--clr-orangeyellow);
  transform: none;
}

@media (min-width: 37.5rem) {
  .projects__container {
    position: relative;
    padding-bottom: 8rem;
  }

  .portfolio__item__container {
    overflow: hidden;
    border: none;
    box-shadow: var(--bs);
  }

  .portfolio__item {
    background-color: var(--clr-dark);
    background-blend-mode: unset;
  }

  .portfolio__item:hover {
    transform: scale(1.1);
    background-blend-mode: multiply;
  }

  .portfolio__links {
    width: 40%;
  }

  .portfolio__description {
    padding: 0 2em;
  }

  .portfolio__description,
  .portfolio__links,
  .portfolio__item .btn {
    opacity: 0;
  }

  .portfolio__item:hover .portfolio__description,
  .portfolio__item:hover .portfolio__links,
  .portfolio__item:hover .btn {
    opacity: 1;
  }

  .portfolio__item .btn {
    margin-bottom: 1.8em;
    width: 85%;
  }
}

/* Footer */

.footer {
  background: #111111;
  color: var(--clr-deeporange);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__title--contact {
  margin-bottom: 0.5em;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 2em;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  font-size: var(--fs-h3);
  padding: 0.5em;
}

/* Individual portfolio item */

.intro__container.portfolio-item-intro {
  background: var(--clr-light);
  color: var(--clr-dark);
}

.portfolio-item-individual {
  position: relative;
  padding: 0 1rem 2.5rem;
  max-width: 60rem;
  margin: 0 auto;
}

.portfolio-item-individual h3,
.portfolio-item-individual p {
  max-width: 37.5rem;
  line-height: 1.5;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-item-individual h3:first-child {
  margin-top: 0;
}

.portfolio-item-individual img {
  margin: 1rem auto;
  max-height: 350px;
}

@media (min-width: 37.5rem) {
  .portfolio-item-individual {
    padding: 5rem 1rem 8rem;
    min-height: 100vh;
  }
}
